<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header">
      <h3>Edit Category</h3>
    </div>
    <div class="card-body">
      <form action="/categorias/edit/{{categoria._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
                <div class="form-group">
                    <input type="text" name="nombre" class="form-control" value="{{categoria.nombre}}" autofocus required />
                </div>
                <div class="form-group">
                    <input type="text" name="estado" class="form-control" value="{{categoria.estado}}" required />
                </div>
                <select class="browser-default custom-select" name="usuario">
                    {{#each collecctionUsuario}}
                    <option value={{{_id}}}>{{nombre}}</option>
                    {{/each}}
                </select>
                <br></br>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Save
                    </button>
                </div>
            </div>
      </form>
    </div>
  </div>
</div>