<a href="/categorias/add" class="btn btn-success btn-block">Create Category One!</a>
<br></br>
<div class="row">
  
  {{#each categorias}}
  
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{ title }} <a href="/categorias/edit/{{_id}}"><i class="fas fa-edit"></i></a>
        </h4>
        <p><b>Nombre de Categoria:</b>{{ nombre }} </p>
        <p><b>Usuario:</b> {{categoria_usuario.nombre}}</p>
        
        
        <!-- DELETE REQUEST -->
        <form action="/categorias/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-block btn-sm">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
  
  {{/each}}
</div>